     html,
     body {
         font-family: Arial, sans-serif;
         color: #333333;
         height: 100%;
         margin: 0;
     }

     .container {
         display: flex;
         flex-direction: column;
         min-height: 100%;
     }

     .content {
         flex: 1;
     }

     h1,
     h2,
     h4 {
         text-align: center;
     }

     /* CSS styles for the navigation menu */
     nav {
         background-color: #f2f2f2;
         padding: 10px;
     }

     nav ul {
         list-style: none;
         margin: 0;
         padding: 0;
         text-align: center;
     }

     nav li {
         display: inline-block;
         margin-right: 10px;
     }

     nav a {
         color: #333333;
         text-decoration: none;
     }

     /* CSS styles for the main content area */
     main {
         margin: 0 auto;
         max-width: 800px;
         padding: 20px;
     }

     .parent-container {
         display: flex;
         justify-content: center;
         align-items: center;

     }

     img {
         max-width: 800px;
     }

     @media screen and (max-width: 800px) {
         .container {
             height: 30%;
         }
     }

     /* CSS styles for the footer */
     .footer {
         background-color: #f2f2f2;
         text-align: center;
         padding: 8px;
     }